@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-kumbh-sans;
  background-image: $gradient-background;
  min-height: 100vh;
  padding: rem(148px) rem(24px) rem(85px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (min-width: $w-desktop) {
    padding-top: rem(129px);
    padding-bottom: rem(130px);
  }
}

abbr {
  text-decoration: none;
}

.card {
  background-color: white;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  padding: rem(132px) rem(24px) rem(48px);
  position: relative;
  width: 100%;
  max-width: rem(400px);
  z-index: 2;
  @media (min-width: $w-desktop) {
    max-width: rem(920px);
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    padding: 0;
  }
}

.card__illustration {
  align-self: center;
  position: absolute;
  top: rem(-108px);
  @media (min-width: $w-desktop) {
    position: relative;
    top: 0;
    height: 100%;
  }
}

.illustration-wrapper {
  @media (min-width: $w-desktop) {
    padding-top: rem(70px);
    overflow: hidden;
  }
}

.illustration__graphic {
  display: block;
  width: rem(237px);
  height: rem(180px);
  animation: {
    name: fadein, slidein;
    duration: 1s, 1s;
    timing-function: ease, ease;
  }
  @media (min-width: $w-desktop) {
    width: rem(472px);
    height: rem(359px);
    margin-left: rem(-84px);
  }
}

.shadow-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  @media (min-width: $w-desktop) {
    width: 100%;
    overflow: hidden;
  }
}

.illustration__shadow {
  position: absolute;
  top: rem(108px);
  animation: {
    name: fadein, shadow_grow;
    duration: 1s, 1s;
    timing-function: ease, ease;
  }
  @media (min-width: $w-desktop) {
    width: rem(964px);
    height: rem(944px);
    top: rem(-294px);
    left: rem(-576px);
    z-index: -1;
  }
}

.box-wrapper {
  @media (min-width: $w-desktop) {
    position: absolute;
    width: rem(90px);
    height: rem(106px);
    top: rem(206.12px);
    left: rem(-42.07px);
    animation: {
      name: fadein, slidein;
      duration: 1s, 2s;
      timing-function: ease, ease;
      delay: 0s, 0s;
    }
  }
}

.illustration__box {
  display: none;
  @media (min-width: $w-desktop) {
    display: block;
    z-index: 1;
    margin-top: rem(-3px);
    margin-left: rem(-51px);
  }
}

.card__question-list {
  width: 100%;
  max-width: rem(350px);
  @media (min-width: $w-desktop) {
    margin: rem(65px) rem(95px) rem(3px) rem(83px);
  }
}

.list__heading {
  @include setFont(rem(32px), 40px, 700);
  color: color(very-dark-desaturated-blue);
  text-align: center;
  margin-bottom: em(38px, 32px);
  @media (min-width: $w-desktop) {
    text-align: left;
    margin-bottom: em(35px, 32px);
  }
}

.list__item {
  border-bottom: 1px solid color(light-grayish-blue);
  padding-bottom: em(18px, 13px);
  &:not(:first-of-type) {
    padding-top: em(18px, 13px);
  }
}

.list__question {
  @include setFont(rem(13px), 16px, 400);
  color: color(dark-grayish-blue);
  width: 100%;

  summary {
    color: color(very-dark-grayish-blue);
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: rem(7px);
    &:hover {
      color: color(soft-red);
    }
  }

  &[open] {
    summary {
      font-weight: 700;
      margin-bottom: em(12px, 13px);
      @media (min-width: 700px) {
        margin-bottom: em(10px, 14px);
      }
    }

    & .arrow_down {
      transform: rotate(180deg);
    }
  }
  @media (min-width: 700px) {
    @include setFont(rem(14px), 17px);
  }
}

.arrow_down {
  width: rem(8px);
  height: rem(4px);
  margin-top: rem(5.8px);
  flex-shrink: 0;
  transition: 0.2s ease;
  @media (min-width: 700px) {
    margin-top: rem(6.8px);
  }
}

.list__answer {
  @include setFont(rem(12px), 18px, 400);
}

.attribution {
  position: fixed;
  bottom: 1em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateY(rem(-50px));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes shadow_grow {
  from {
    transform: scale(0.5);
  }

  to {
    transform: none;
  }
}
